<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Dojos</h1>
<table class=".card-text">
    <thead>
        <tr>
           <td>name</td> 
           <td>actions</td>
        </tr>
    </thead>
    <tbody>
        {% for dojo in dojos %}
        <tr>
            <td>{{dojo.name}}</td>
            <td><a href="/show/{{dojo.id}}">show</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<form action="/create_dojos" method="post">
    <h1>New DOJO</h1>
    <input type="text" name="name" >
    <input type="submit"  value="create">
</form>

<a href="/add_ninja"> add_ninja</a>
</body>
</html>